<footer class="p-m m-0 bg-sand cf">
  <div class="col col-12 m-col-4 px-m text-center">
    <ul class="list-reset">
      <li><a class="white" href="mailto:info@thisislivinghope.com">info@thisislivinghope.com</a></li>
    </ul>
  </div>
  <div class="col col-12 m-col-4 px-m text-center">
    <p>
      This Is Living Hope<br>
      123 Street Rd.<br>
      Townname, NC 27510
    </p>
  </div>
  <div class="col col-12 m-col-4">
    <ul class="list-reset cf px-m text-center">
      <li class=""><a class="white" href="http://instagram.com/thisislivinghope">instagram</a></li>
      <li class=""><a class="white" href="http://facebook.com/thisislivinghope">facebook</a></li>
      <li class=""><a class="white" href="http://twitter.com/thisislivinghope">twitter</a></li>
    </ul>
  </div>
</footer>
