<footer class="m-0 border-top-thin cf">
    <div class="cf py-xl">
      <div class="col col-12 l-col-4 py-l border-right-thin ">
        <ul class="list-reset px-m caps bold h6 cf">
          <li class="col width-20 text-center">
            <a class="link" href="https://www.youtube.com/channel/UCz5_nw0YIWFL-vSYjw5ACgg" target="_blank">
              <svg class="dk-gray" width="3rem" height="3rem"> <use xlink:href="#youtube"/> </svg>
            </a>
          </li>
          <li class="col width-20 text-center">
            <a class="link" href="http://instagram.com/thisislivinghope" target="_blank">
              <svg class="dk-gray" width="3rem" height="3rem"> <use xlink:href="#instagram"/> </svg>
            </a>
          </li>
          <li class="col width-20 text-center">
            <a class="link" href="https://www.facebook.com/Living-Hope-782549358568651/" target="_blank">
              <svg class="dk-gray" width="3rem" height="3rem"> <use xlink:href="#facebook"/> </svg>
            </a>
          </li>
          <li class="col width-20 text-center">
            <a class="link" href="http://twitter.com/livinghopeblog" target="_blank">
              <svg class="dk-gray" width="3rem" height="3rem"> <use xlink:href="#twitter"/> </svg>
            </a>
          </li>
          <li class="col width-20 text-center">
            <a class="link" href="https://vimeo.com/user63187575" target="_blank">
              <svg class="dk-gray" width="3rem" height="3rem"> <use xlink:href="#vimeo"/> </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="col col-12 l-col-4 text-center py-m">
        <h3 class="serif h4 italic pt-s"><a class="" href="mailto:info@thisislivinghope.com">info@thisislivinghope.com</a></h3>
      </div>
      <div class="col col-12 l-col-4 pb-m px-xl">
        <p class="text-center  serif ">
            194 Finley Golf Course Road<br>
            Suite 102<br>
            Chapel Hill, NC 27517
        </p>
      </div>
    </div>
    <div class="cf text-center p-l bg-sand white">
      <h2 class="caps pb-s">This Is Living Hope</h2>
    </div>
</footer>
