<footer class="p-m m-0 bg-dk-gray white">
  <ul class="list-reset">
    <li><a href="mailto:info@thisislivinghope.com">info@thisislivinghope.com</a></li>
  </ul>
  <p>
    This Is Living Hope
    123 Street Rd.
    Townname, NC 27510
  </p>
  <ul class="list-reset">
    <li><a href="http://instagram.com/thisislivinghope">instagram</a></li>
    <li><a href="http://facebook.com/thisislivinghope">facebook</a></li>
    <li><a href="http://twitter.com/thisislivinghope">twitter</a></li>
  </ul>
</footer>
