// Family Declarations

@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa_free_light-webfont.woff2') format('woff2'),
         url('../fonts/nexa_free_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$sans-font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ;
$serif-font-family: baskerville, Athelas, Palatino, Garamond, Georgia, Cambria, "Times New Roman", Times, serif;
$monospace-font-family: Roboto Mono, Source Code Pro, SFMono, menlo, /* mac */
                      inconsolata, consolas, /* windows */
                      'fira mono', /* firefox os */
                      'noto mono', 'droid sans mono', /* android */
                      'dejavu sans mono', 'liberation mono', 'ubuntu mono', /* linux */
                      monaco, 'courier new', /* older systems */
                      monospace; /* fallback */
$condensed-font-family:'alternate-gothic-no-1-d', "Roboto Condensed", "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

$heading-font-family: 'nexa', $sans-font-family;

// Set base family globally:
$base-font-family: $serif-font-family;

// Family Classes
.sans{
  font-family: $sans-font-family;
}
.serif{
  font-family: $serif-font-family;
}
.monospace {
  font-family: $monospace-font-family;
}
.heading{
  font-family: $heading-font-family;
}
.condensed{
  font-family:$condensed-font-family;
  font-weight:normal;
}

// Base Type Scales
$base-font-size:   1rem;
$base-line-height: 1.5;

/* Basscss Type Scale */
// Font Scale    e.g.
$h1: 2rem;    // 32px
$h2: 1.5rem;  // 24px
$h3: 1.25rem; // 20px
$h4: 1rem;    // 16px
$h5: .875rem; // 14px
$h6: .75rem;  // 12px
$small-font-size: .875rem;

// Line Height, Maybe lh as class
$leading-solid: 1;
$leading-headline: 1.25;
$leading-text: 1.5;

// Addtl Style & Weight Variables
$caps-letter-spacing: .1em;
$bold-font-weight: 600;

.fw-100{font-weight:100}
.fw-200{font-weight:200}
.fw-300{font-weight:300}
.fw-400{font-weight:400}
.fw-500{font-weight:500}
.fw-600{font-weight:600}
.fw-700{font-weight:700}
.fw-800{font-weight:800}
.fw-900{font-weight:900}

h1, .h1 { font-size: $h1 }
h2, .h2 { font-size: $h2 }
h3, .h3 { font-size: $h3 }
h4, .h4 { font-size: $h4 }
h5, .h5 { font-size: $h5; line-height:1.5rem; }
h6, .h6 { font-size: $h6; line-height:1.5rem; }

.m-h1{
  @include breakpoint(m){
    font-size:$h1;
  }
}
.m-h2{
  @include breakpoint(m){
    font-size:$h2;
  }
}
.m-h3{
  @include breakpoint(m){
    font-size:$h3;
  }
}
.l-h1{
  @include breakpoint(l){
    font-size:$h1;
  }
}
.l-h2{
  @include breakpoint(l){
    font-size:$h2;
  }
}
.l-h3{
  @include breakpoint(l){
    font-size:$h3;
  }
}

@include breakpoint(m){

}

$measure-width:32em;
.measure, .mx{
  max-width:$measure-width;
}
.leading-solid { line-height: $leading-solid }
.leading-headline { line-height: $leading-headline }
.leading-text { line-height: $leading-text }

/* Basscss Typography */
.font-family-inherit { font-family: inherit }
.font-size-inherit { font-size: inherit }
.text-decoration-none { text-decoration: none }

strong { font-weight: $bold-font-weight}
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: $caps-letter-spacing; }
.uppercase{ text-transform:uppercase; }
.bold {font-weight:$bold-font-weight;}
.text-left   { text-align: left }
.text-center       { text-align: center }
.text-right  { text-align: right }
.text-justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.list-style-none { list-style: none }
.underline { text-decoration: underline }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

//Type Spacing
$space-before: 1.5rem;
$space-after:  1.5rem;


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #58595B;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, small,
%vertical-rhythm {
    margin-top:0;
    margin-bottom: $space-after/2;
}


p {
  //max-width:$measure-width;
  //opacity:0.9;
}
small, .small{
  font-size:0.875rem;
  line-height:1.5rem;
  margin-top:0.125rem;

}

@import
"headings",
"lists"
;
